*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.GranContenedor nav h1 h2 h3 section footer {
    float: left;
    box-sizing: border-box;
}
body {
    font-family:'Special Elite', cursive;   
    color: whitesmoke;
    background-color: #010014;
    background-image: url("Index/scss/componentes/Imagenes/black-paper.png");
}
.bodycontacto {
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    background-color: #010014;
    background-image: url("Index/scss/componentes/Imagenes/black-paper.png");
}
.bodyindex { 
    background: linear-gradient(263deg, rgba(127,135,224,0.7460026246826856) 0%, rgba(158,244,244,0.9196720924698004) 100%);
}


